*{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
padding: 0;
}
body{
width: 100%;
background-color:rgb(35, 93, 119);
}


/*----Hier beginnt die Navigation----*/


.navi ul {
background-color: rgb(35, 93, 119);
text-align: center;
list-style: none;
gap: 1rem;
padding: 1.5rem;
}
.navi li {
padding: 1rem;
font-size: 120%;
}
.navi li a {
text-decoration: none;
color:whitesmoke;
}
.navi a:hover {
color: white;
border-bottom: 2px solid white;
transition: 125ms ease-out;
}
.home{
margin-right: 0;
}
#suche {
font-family: inherit;
background-color:white;
border-radius: 5px;
border: none;
padding:0.4rem;
display: flex;
width: 20rem;
height: 2rem;
margin: 1rem auto;
}

/*----Hier beginnt der main content----*/


.teaser_div{
height: 250px;
background-color:white;
margin: 1rem;
display: flex;
align-items: top;
padding-top: 2rem;
justify-content: center;
color:#333;
}
.center_div{
height:250px;
}
.h1{
color:#333;
text-align: center;
border-bottom: 1px solid;
}
.p_teaser{
text-align: center;
padding-bottom: 2rem;
}
.btn{
display: block;
margin: auto;
width: 250px;
height:50px;
border: none;
border-radius: 5px;
background-color: #333;
font-size:120%;
font-family: sans-serif;
box-shadow: #7a7777 4px 8px 5px;
}
.btn a{
text-decoration: none;
}
.btn a:visited{
color: white;
}
.btn:hover {
cursor: pointer;
transform: scale(1.03);
transition: all 195ms ease-in;
}
.center_div2{
background-color:white;
text-align: center;
padding: 2rem;
margin:1rem;
}
.h2{
text-align: center;
padding-bottom: 1rem;
font-weight: 500;
}
.p_teaser2{
font-style: italic;
}


.image_div{
height:400px;
flex-wrap: wrap;
background-color: white;
margin: 1rem;
padding:2rem;
display: flex;
align-items: center;
justify-content:space-evenly;
}
.mock_image{
display: flex;
align-items: center;
justify-content: center;
color: white;
height:300px;
width: 200px;
border: 13px solid rgb(35, 93, 119);
}
h1{
color:#333;
}
.mock_image, h2{
text-align: center;
font-family:sans-serif;
color:rgb(35, 93, 119)
}

.cards_div{
display: flex;
flex-direction: column;
align-items: center;
background-color: white;
margin:1rem;
padding: 2rem 0;
}
.cards_div_2{
display: flex;
flex-direction: column;
align-items: center;
background-color: white;
margin:1rem;
padding: 2rem 0;
}
.card{
height: 250px;
width: 200px;
max-width: 80vw;
max-height: 80vh;
background-color:lightgray;
border-radius: 10px;
margin:1rem;
justify-content: center;
text-align: center;
display: flex;
flex-direction: column;
}
.p_below{
color:white;
margin:2rem;
padding: 1rem;
line-height: 2;
text-align: center;
font-family: monospace;
}
#email {
font-family: inherit;
background-color:white;
border-radius: 5px;
border: none;
padding:0.3rem;
display: flex;
width: 20rem;
height: 2rem;
margin: 1rem auto;
}
.submit{
display: block;
margin: 1rem auto;
width: 10rem;
height:2.3rem;
border:none;
border-radius: 5px;
background-color: rgb(110, 174, 185);
color: white;
font-size:130%;
font-family:monospace;
}
.submit:hover {
cursor: pointer;
border-color:white;
box-shadow: 1px 2px 4px inset white;
}
hr{
color: whitesmoke;
}



/*----links für Impressum, ABG's etc.----*/

.footer_div{
height:300px;
color: white;
background-color: rgb(35, 93, 119);
display:flex;
justify-content:space-evenly;
align-items: center;
}
.footer_div a{
text-decoration: none;
color:white;
}
.footer_div p{
padding: 0.5rem;
display: flex;
justify-content: center;
}








@media (min-width: 650px) {
    .navi ul {
    display: flex;
    }
    .home{
    margin-right: auto;
    }
    .cards_div, .cards_div_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;   
    align-items: center;
    } 
}
